#wrapper-img{
    margin: 0;
    position: absolute;
    background-image: url('exam.jpg');
    opacity: 0.1;
    width: 100vw;
    height: 100vh;
    color: white;
    z-index: -1;
}
#subPage{
    position: relative;
    display: flex;
    justify-content: center; 
   z-index: 2;
}
#h1{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
}
#quest{
    position: relative;
    margin-top: 120px;
    
}
.questbtn{
    margin: 0 5px;;
    background-color: black;
    color: white;
    font-size: 18px;
    width: 50px;
    height: 50px;
}
.current{
    background-color: green;
}
.answered{
    background-color: red;
}
#submitbtn{
    position: relative;
    margin-top: 20px;
}
#quiz-page{
    height: 100vh;
}
@media screen and (max-width: 414px){
    #quest{
        
        position: relative;
        margin-top: 90px;
    }
}
@media screen and (max-width: 280px){
    #quest{
        
        position: relative;
        margin-top: 100px;
    }
}
